body {
    margin: 0px;
    display: flex;
}

#header {
    width: 100%;
    height: 150px;
    background-color: #6388c6;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about-me {
    width: 1100px;
    height: 480px;
    border: transparent 1px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-container {
    width: 100%;
    height: 5041px;
    margin: 0px auto;
    background-color: #fff8d2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c3e8f7;
    width: 100%;
    margin-top: 0px;
}

/* #nav-bar nav p:hover {
    color: #6388c6;
} */

#about-me-image {
    width: 480px;
    height: 480px;
    margin-left: -25px;
}

#about-me-words {
    width: 510px;
    height: 510px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #FEF07C;
    height: 230px;
    padding: 50px;
    border-radius: 25px;
    margin-right: -25px;
}

#logo-1 {
    padding-top: 13px;
    padding-left: 20px;
}

#logo-2 {
    padding-top: 13px;
    padding-right: 20px;
}

.portfolio-header {
    margin-top: 100px;
    background-color: #6388c6;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.feathers {
    margin-top: 100px;
}

#skills {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #c3e8f7;
    width: 300px;
    height: 530px;
    justify-content: space-around;
    border-radius: 25px;
    margin-left: -400px;
}

#header-and-list {
    display: flex;
    flex-direction: column;
}

#skills-header {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#skills-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin-top: 0px;
}

#art-portfolio {
    width: 250px;
    flex-direction: row;
    margin-left: 200px;
    padding: 15px;
    width: 800px;
    height: 690px;
}

#portfolio-images-1 {
    display: flex;
    flex-direction: column;
    margin-left: -200px;
    justify-content: space-between;
    width: 700px;
    margin-top: 15px;
}

#portfolio-images-2 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: space-between;
    width: 660px;
    margin-top: -350px;
    height: 660px;
}

.skills {
    margin-top: 15px;
    margin-left: 30px;
    padding: 3px;
    width: 200px;
}

#skills-header-text {
    margin-top: 40px;
    margin-left: 100px;
}

#writing-link {
    margin-top: 5px;
    /* margin-left: 45px; */
    display: flex;
    justify-content: center;
}

#writing-link-header {
    margin-top: 15px;
    /* margin-left: 80px; */
    display: flex;
    justify-content: center;
}

#writing-portfolio-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FEF07C;
    width: 240px;
    margin-top: 55px;
    padding: 30px;
    border-radius: 25px;
}

#feathers-2 {
    margin-top: 300px;
}

#experience-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    background-color: #c3e8f7;
    width: 300px;
    height: 550px;
    border-radius: 25px;
    padding: 10px;
}

.exp {
    margin-top: 0px;
    /* margin-left: 10px; */
    padding: 20px;
}

#exp-images-1 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;   
    justify-content: space-between;
    width: 660px;
    margin-top: 60px;
    margin-right: -320px;
    height: 700px;
}

#exp-images-2 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;   
    justify-content: space-between;
    width: 660px;
    margin-top: 60px;
    height: 655px;
}

#exp-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 23%;
}

#goals {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#goals-para {
    background-color: #FEF07C;
    padding: 40px;
    border-radius: 25px;
    margin-top: 60px;
    width: 700px;
}
#goals-header {
    display: flex;
    justify-content: center;
    background-color: #6388c6;
    width: 200px;
    margin-top: 100px;
    border-radius: 25px;
}

/* #button:hover {
    background-color: #6388c6;
    color: white;
} */